apiVersion: v1
kind: Service
metadata:
  name: products
  namespace: prod
spec:
  selector:
    app: products
  type: NodePort
  internalTrafficPolicy: Local
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 31002